#DESENVOLVIDO POR: GUSTAVO BASÍLIO LIMA

In [ ]:
%load_ext autotime

time: 0 ns

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.graph_objs as go
import plotly.offline as py
import pymysql
from sqlalchemy import create_engine
from numpy import linalg as LA
from datetime import datetime
from scipy.spatial import distance

In [ ]:
#Fazendo a conexão com a databse no servidor
conexao = pymysql.connect( host     = 'host',
                           user     = 'user',
                           passwd   = 'password',
                           database = 'database')


#Fazendo a leitura do arquivo sql através do pandas
inmet_pond  = pd.read_sql_query('SELECT * FROM medias_ponderadas', conexao)
nasa = pd.read_sql_query('SELECT * FROM dcnasa', conexao)

#Transformando em dataframe
inmet_pond  = pd.DataFrame(inmet_pond)
nasa = pd.DataFrame(nasa)

conexao.close()

#Eliminando a coluna index
inmet_pond  = inmet_pond.drop('index', axis = 1)
nasa = nasa.drop('index', axis = 1)

In [ ]:
inmet_pond

,data,rad_glo,precip_tot,pres_atm_niv_est,pres_atm_max_hr_ant,pres_atm_min_hr_ant,temp_bulbo_seco,temp_p_orv,temp_max_hr_ant,temp_min_hr_ant,temp_p_orv_max_hr_ant,temp_p_orv_min_hr_ant,umi_rel_max_hr_ant,umi_rel_min_hr_ant,umi_rel,dir_vent,raj_max_vent,vel_vent
0,2007-07-21 00:00:00,NaN,0.0,985.100000,985.100000,984.600000,25.000000,16.200000,26.600000,25.000000,17.300000,16.200000,59.000000,56.000000,58.000000,124.000000,11.600000,6.800000
1,2007-07-21 01:00:00,NaN,0.0,985.400000,985.400000,985.000000,24.600000,15.500000,25.000000,24.600000,16.200000,15.500000,59.000000,57.000000,57.000000,124.000000,10.900000,6.500000
2,2007-07-21 02:00:00,NaN,0.0,985.600000,985.700000,985.400000,24.300000,14.700000,24.600000,24.300000,15.500000,14.700000,57.000000,55.000000,55.000000,110.000000,10.400000,6.200000
3,2007-07-21 03:00:00,NaN,0.0,985.600000,985.800000,985.600000,23.600000,15.200000,24.400000,23.500000,15.300000,14.600000,60.000000,55.000000,59.000000,116.000000,11.800000,5.100000
4,2007-07-21 04:00:00,NaN,0.0,985.400000,985.700000,985.300000,22.900000,15.300000,23.600000,22.900000,15.400000,15.200000,63.000000,59.000000,63.000000,130.000000,7.800000,2.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114235,2020-07-31 19:00:00,1533.570196,0.0,985.697184,985.797184,985.639840,30.843360,14.187424,31.458048,30.171328,14.858752,13.701408,38.860160,35.573440,36.146879,186.783670,8.843360,3.242656
114236,2020-07-31 20:00:00,800.952275,0.0,985.897184,985.897184,985.697184,30.300704,14.772032,31.000704,30.229376,14.944064,13.944064,39.000000,35.573440,39.000000,187.496950,7.871328,3.258752
114237,2020-07-31 21:00:00,101.179211,0.0,986.425856,986.425856,985.897184,28.470624,15.086720,30.300704,28.327968,15.186720,14.700704,44.433599,39.000000,44.433599,178.937589,6.673440,1.799296
114238,2020-07-31 22:00:00,NaN,0.0,987.083200,987.083200,986.425856,26.002112,15.542656,28.470624,25.887424,15.943360,14.872032,53.853121,44.146879,52.992961,198.909433,4.474144,0.713280
114239,2020-07-31 23:00:00,NaN,0.0,987.769216,987.769216,987.083200,25.758752,16.228672,26.644064,25.687424,16.228672,15.242656,55.566401,50.853121,55.566401,197.482872,3.975551,1.069920

Os próximos 16 blocos de códigos são para a contagem da quantidade de dados ausentes em cada variável climática, antes do processo de interpolação.

In [ ]:
inmet_pond['precip_tot'].isna().sum()

1123

In [ ]:
inmet_pond['pres_atm_niv_est'].isna().sum()

1122

In [ ]:
inmet_pond['pres_atm_max_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['pres_atm_min_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['temp_bulbo_seco'].isna().sum()

1122

In [ ]:
inmet_pond['temp_p_orv'].isna().sum()

1123

In [ ]:
inmet_pond['temp_max_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['temp_min_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['temp_p_orv_max_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['temp_p_orv_min_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['umi_rel_max_hr_ant'].isna().sum()

1134

In [ ]:
inmet_pond['umi_rel_min_hr_ant'].isna().sum()

1148

In [ ]:
inmet_pond['umi_rel'].isna().sum()

1132

In [ ]:
inmet_pond['dir_vent'].isna().sum()

1122

In [ ]:
inmet_pond['raj_max_vent'].isna().sum()

1143

In [ ]:
inmet_pond['vel_vent'].isna().sum()

1122

In [ ]:
#Criação do dataframe com as variáveis climáticas já interpoladas
inmet_pond_interpolado = []
inmet_pond_interpolado = pd.DataFrame(inmet_pond_interpolado)

inmet_pond_interpolado['data']                  = inmet_pond['data']  
inmet_pond_interpolado['rad_glo']               = inmet_pond['rad_glo'] 
inmet_pond_interpolado['precip_tot']            = inmet_pond['precip_tot'].interpolate()
inmet_pond_interpolado['pres_atm_niv_est']      = inmet_pond['pres_atm_niv_est'].interpolate()
inmet_pond_interpolado['pres_atm_max_hr_ant']   = inmet_pond['pres_atm_max_hr_ant'].interpolate()
inmet_pond_interpolado['pres_atm_min_hr_ant']   = inmet_pond['pres_atm_min_hr_ant'].interpolate()
inmet_pond_interpolado['temp_bulbo_seco']       = inmet_pond['temp_bulbo_seco'].interpolate()
inmet_pond_interpolado['temp_p_orv']            = inmet_pond['temp_p_orv'].interpolate()
inmet_pond_interpolado['temp_max_hr_ant']       = inmet_pond['temp_max_hr_ant'].interpolate()
inmet_pond_interpolado['temp_min_hr_ant']       = inmet_pond['temp_min_hr_ant'].interpolate()
inmet_pond_interpolado['temp_p_orv_max_hr_ant'] = inmet_pond['temp_p_orv_max_hr_ant'].interpolate()
inmet_pond_interpolado['temp_p_orv_min_hr_ant'] = inmet_pond['temp_p_orv_min_hr_ant'].interpolate()
inmet_pond_interpolado['umi_rel_max_hr_ant']    = inmet_pond['umi_rel_max_hr_ant'].interpolate()
inmet_pond_interpolado['umi_rel_min_hr_ant']    = inmet_pond['umi_rel_min_hr_ant'].interpolate()
inmet_pond_interpolado['umi_rel']               = inmet_pond['umi_rel'].interpolate()
inmet_pond_interpolado['dir_vent']              = inmet_pond['dir_vent'].interpolate()
inmet_pond_interpolado['raj_max_vent']          = inmet_pond['raj_max_vent'].interpolate()
inmet_pond_interpolado['vel_vent']              = inmet_pond['vel_vent'].interpolate()

inmet_pond_interpolado

,data,rad_glo,precip_tot,pres_atm_niv_est,pres_atm_max_hr_ant,pres_atm_min_hr_ant,temp_bulbo_seco,temp_p_orv,temp_max_hr_ant,temp_min_hr_ant,temp_p_orv_max_hr_ant,temp_p_orv_min_hr_ant,umi_rel_max_hr_ant,umi_rel_min_hr_ant,umi_rel,dir_vent,raj_max_vent,vel_vent
0,2007-07-21 00:00:00,NaN,0.0,985.100000,985.100000,984.600000,25.000000,16.200000,26.600000,25.000000,17.300000,16.200000,59.000000,56.000000,58.000000,124.000000,11.600000,6.800000
1,2007-07-21 01:00:00,NaN,0.0,985.400000,985.400000,985.000000,24.600000,15.500000,25.000000,24.600000,16.200000,15.500000,59.000000,57.000000,57.000000,124.000000,10.900000,6.500000
2,2007-07-21 02:00:00,NaN,0.0,985.600000,985.700000,985.400000,24.300000,14.700000,24.600000,24.300000,15.500000,14.700000,57.000000,55.000000,55.000000,110.000000,10.400000,6.200000
3,2007-07-21 03:00:00,NaN,0.0,985.600000,985.800000,985.600000,23.600000,15.200000,24.400000,23.500000,15.300000,14.600000,60.000000,55.000000,59.000000,116.000000,11.800000,5.100000
4,2007-07-21 04:00:00,NaN,0.0,985.400000,985.700000,985.300000,22.900000,15.300000,23.600000,22.900000,15.400000,15.200000,63.000000,59.000000,63.000000,130.000000,7.800000,2.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114235,2020-07-31 19:00:00,1533.570196,0.0,985.697184,985.797184,985.639840,30.843360,14.187424,31.458048,30.171328,14.858752,13.701408,38.860160,35.573440,36.146879,186.783670,8.843360,3.242656
114236,2020-07-31 20:00:00,800.952275,0.0,985.897184,985.897184,985.697184,30.300704,14.772032,31.000704,30.229376,14.944064,13.944064,39.000000,35.573440,39.000000,187.496950,7.871328,3.258752
114237,2020-07-31 21:00:00,101.179211,0.0,986.425856,986.425856,985.897184,28.470624,15.086720,30.300704,28.327968,15.186720,14.700704,44.433599,39.000000,44.433599,178.937589,6.673440,1.799296
114238,2020-07-31 22:00:00,NaN,0.0,987.083200,987.083200,986.425856,26.002112,15.542656,28.470624,25.887424,15.943360,14.872032,53.853121,44.146879,52.992961,198.909433,4.474144,0.713280
114239,2020-07-31 23:00:00,NaN,0.0,987.769216,987.769216,987.083200,25.758752,16.228672,26.644064,25.687424,16.228672,15.242656,55.566401,50.853121,55.566401,197.482872,3.975551,1.069920

Os próximos 16 blocos de códigos são para a contagem dos dados ausentes após a interpolação realizada.

In [ ]:
inmet_pond_interpolado['precip_tot'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['pres_atm_niv_est'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['pres_atm_max_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['pres_atm_min_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['temp_bulbo_seco'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['temp_p_orv'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['temp_max_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['temp_min_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['temp_p_orv_max_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['temp_p_orv_min_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['umi_rel_max_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['umi_rel_min_hr_ant'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['umi_rel'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['dir_vent'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['raj_max_vent'].isna().sum()

0

In [ ]:
inmet_pond_interpolado['vel_vent'].isna().sum()

0

In [ ]:
#Criação de uma tabela na database a partir de um arquivo pandas (DataFrame)

#Estabelecendo a conexão com o servidor e com a database nele inserido 
conexao = pymysql.connect( host     = 'host',
                           user     = 'user',
                           passwd   = 'password',
                           database = 'database')

#Função 'create_engine' inicializa a conxexão com a database
engine = create_engine('mysql+pymysql://user:password@host:port/database')

inmet_pond_interpolado.to_sql('medias_ponderadas_interpoladas', engine, index = True)

In [ ]:
nasa

,DATA,LAT,LON,PRECTOT,QV2M,RH2M,PS,T2M_RANGE,TS,T2MDEW,...,T2M_MAX,T2M_MIN,T2M,WS10M_RANGE,WS10M_MIN,WS10M_MAX,WS10M,KT,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DWN
0,2000-01-01,-7.01439,-37.94579,0.12,0.01,60.58,95.72,13.75,27.53,17.92,...,33.68,19.93,26.19,3.37,2.74,6.11,4.46,0.71,7.63,7.66
1,2000-01-02,-7.01439,-37.94579,0.02,0.01,57.10,95.73,14.55,28.01,17.12,...,34.12,19.56,26.37,3.63,2.23,5.86,3.93,0.68,7.28,7.28
2,2000-01-03,-7.01439,-37.94579,3.96,0.01,63.91,95.72,12.71,28.14,19.04,...,33.44,20.73,26.45,2.82,2.67,5.49,4.02,0.58,6.86,6.18
3,2000-01-04,-7.01439,-37.94579,20.69,0.02,74.44,95.78,9.04,25.48,19.98,...,30.24,21.21,24.84,4.03,3.00,7.03,4.63,0.40,7.91,4.34
4,2000-01-05,-7.01439,-37.94579,6.44,0.01,66.01,95.84,13.03,26.84,18.78,...,32.76,19.73,25.64,4.40,2.22,6.62,4.03,0.61,7.65,6.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7526,2020-08-09,-7.01439,-37.94579,0.22,0.01,62.68,96.49,15.29,25.59,16.86,...,32.57,17.28,24.31,3.59,3.64,7.24,5.43,NaN,NaN,NaN
7527,2020-08-10,-7.01439,-37.94579,0.06,0.01,57.28,96.33,13.85,25.03,15.01,...,32.10,18.25,23.87,3.96,4.13,8.09,5.74,NaN,NaN,NaN
7528,2020-08-11,-7.01439,-37.94579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7529,2020-08-12,-7.01439,-37.94579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7530,2020-08-13,-7.01439,-37.94579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Criação de um DataFrame contendo a média diária da média da propriedade RADIACAO GLOBAL (kJ/m²)
#entre as 3 estações automáticas 

#Criação de um dicionário vazio
rad_glo_soma_dia = {}

#Transformação de um dicionário vazio em um DataFrame vazio
rad_glo_soma_dia = pd.DataFrame(rad_glo_soma_dia)

#Transformação de uma coluna de um DataFrame em um DataFrame propriamente dito
rad_glo_media_pond = pd.DataFrame(inmet_pond['rad_glo'])

#Estrutura de repetição para que o total acumulado seja feito para cada 24 horas
for i in range(0, int(len(inmet_pond['rad_glo'])/24), 1):
    rad_glo_soma_dia[i] = rad_glo_media_pond.iloc[(i * 24): ((i + 1)*24)].sum(axis = 0)

#O DataFrame Rad_Glo_SUM_Dia[i] nos retornará um dataframe em que os dados são dispojados em linha
#então, fazendo a transposta, teremos um dataframe com os dados dispojados em coluna
rad_glo_soma_dia = rad_glo_soma_dia.transpose()

#Renomeação da coluna
rad_glo_soma_dia = rad_glo_soma_dia.rename(columns = {'rad_glo': 'MEDIA DIARIA P - INMET (kWh/m²/dia)'})

#Divisão de todos os elementos do dataframe por 3600, para que a propriedade seja transformada
#para kJ/m² e tornar em uma média diária (kWh/m²dia)
rad_glo_soma_dia = rad_glo_soma_dia.div(3600)

#Criação de um dicionário vazio
ghi_inmet_p = {}

#Criação de um dataframe vazio para a propriedade GHI em kWh/m²dia
ghi_inmet_p = pd.DataFrame(ghi_inmet_p)

#Inserção da coluna data
ghi_inmet_p['DATA'] = nasa['DATA'].iloc[2758 : 7518].reset_index(drop = True)

#Inserção da coluna da propriedade
ghi_inmet_p['MEDIA DIARIA P - INMET (kWh/m²/dia)'] = rad_glo_soma_dia['MEDIA DIARIA P - INMET (kWh/m²/dia)']

ghi_inmet_p

           DATA  MEDIA DIARIA P - INMET (kWh/m²/dia)
0    2007-07-21                             4.701583
1    2007-07-22                             3.421889
2    2007-07-23                             3.376444
3    2007-07-24                             5.600306
4    2007-07-25                             5.477278
...         ...                                  ...
4755 2020-07-27                             4.490462
4756 2020-07-28                             6.651903
4757 2020-07-29                             5.939434
4758 2020-07-30                             6.549800
4759 2020-07-31                             5.149594

[4760 rows x 2 columns]

In [ ]:
#Criação de um dicionário vazio
ghi_nasa = {}
#Criação de um dataframe vazio para a propriedade GHI em kWh/m²dia
ghi_nasa = pd.DataFrame(ghi_nasa)

#Inserção da coluna data
ghi_nasa['DATA'] = nasa['DATA'].iloc[2758 : 7518].reset_index(drop = True)
#Inserção da coluna da propriedade
ghi_nasa['MEDIA DIARIA - NASA (kWh/m²/dia)'] = nasa['ALLSKY_SFC_SW_DWN'].iloc[2758 : 7518].reset_index(drop = True).interpolate()

ghi_nasa

           DATA  MEDIA DIARIA - NASA (kWh/m²/dia)
0    2007-07-21                              6.29
1    2007-07-22                              3.90
2    2007-07-23                              3.21
3    2007-07-24                              6.51
4    2007-07-25                              6.55
...         ...                               ...
4755 2020-07-27                              4.81
4756 2020-07-28                              6.47
4757 2020-07-29                              5.57
4758 2020-07-30                              6.11
4759 2020-07-31                              3.61

[4760 rows x 2 columns]

In [ ]:
ghi_inmet_p.describe()

       MEDIA DIARIA P - INMET (kWh/m²/dia)
count                          4760.000000
mean                              6.171502
std                               1.151075
min                               0.000000
25%                               5.573731
50%                               6.358007
75%                               7.031616
max                               7.971003

In [ ]:
ghi_nasa.describe()

       MEDIA DIARIA - NASA (kWh/m²/dia)
count                       4760.000000
mean                           5.999364
std                            1.129660
min                            1.840000
25%                            5.240000
50%                            6.130000
75%                            6.880000
max                            8.280000

In [ ]:
#Criação de uma lista vazia
precip_tot_media = []
#Criação de um dataframe vazio a partir de uma lista vazia
precip_tot_media = pd.DataFrame(precip_tot_media)

#Criação de um dataframe a partir da coluna de um dataframe
precip_tot = pd.DataFrame(inmet_pond['precip_tot'])

#Estrutura de repetição para que o total acumulado seja feito para cada 24 horas
for i in range(0, int(len(precip_tot)/24), 1):
    precip_tot_media[i] = precip_tot.iloc[(i * 24): ((i + 1)*24)].mean(axis = 0)
    
#O DataFrame que nos será retornado será um dataframe em que os dados são dispojados em linha
#então, fazendo a transposta, teremos um dataframe com os dados dispojados em coluna
precip_tot_media = precip_tot_media.transpose()

#Renomeação da coluna
precip_tot_media = precip_tot_media.rename(columns = {'precip_tot': 'MEDIA DIARIA - INMET (mm)'})

precip_tot_media

      MEDIA DIARIA - INMET (mm)
0                      0.000000
1                      0.350000
2                      0.000000
3                      0.000000
4                      0.000000
...                         ...
4755                   0.000000
4756                   0.000000
4757                   0.000000
4758                   0.002389
4759                   0.000000

[4760 rows x 1 columns]

In [ ]:
#Criação de um dicionário vazio
precip_nasa = {}
#Criação de um dataframe vazio para a propriedade GHI em kWh/m²dia
precip_nasa = pd.DataFrame(precip_nasa)

#Inserção da coluna data
precip_nasa['DATA'] = nasa['DATA'].iloc[2758 : 7518].reset_index(drop = True)
#Inserção da coluna da propriedade
precip_nasa['MEDIA DIARIA - NASA (mm)'] = nasa['PRECTOT'].iloc[2758 : 7518].reset_index(drop = True).interpolate()

precip_nasa

           DATA  MEDIA DIARIA - NASA (mm)
0    2007-07-21                      0.01
1    2007-07-22                      2.82
2    2007-07-23                      0.24
3    2007-07-24                      0.00
4    2007-07-25                      0.00
...         ...                       ...
4755 2020-07-27                      0.06
4756 2020-07-28                      0.08
4757 2020-07-29                      1.30
4758 2020-07-30                      0.02
4759 2020-07-31                      4.11

[4760 rows x 2 columns]

In [ ]:
#Criação de um gráfico interativo para ter uma melhor visualização dos dados

#Criação de um gráfico de dispersão ligados por linha
ponderada = go.Scatter(x = ghi_inmet_p['DATA'],                             
                       y = ghi_inmet_p['MEDIA DIARIA P - INMET (kWh/m²/dia)'], 
                       mode = 'markers + lines',                               
                       name = 'PONDERADA - INMET',                                         
                       line = {'color' : '#fffd01'}) 

#Criação de um gráfico de dispersão ligados por linha
nasa = go.Scatter(x = ghi_nasa['DATA'],                             
                  y = ghi_nasa['MEDIA DIARIA - NASA (kWh/m²/dia)'],
                  mode = 'markers + lines',                               
                  name = 'NASA',                                           
                  line = {'color' : '#f97306'}) 
  

#Definição do layout do gráfico
layout = go.Layout(title = '<b>Irradiação horizontal incidente em uma superfície em kWh/m²/dia</b>',
                   titlefont = {'family': 'Arial', 'size': 20})         

#Criação de uma lista a partir dos gráficos de dispersão para que o plotly consigo gerar o gráfico
figprop = [ponderada, nasa]

#Criação da figura a partir dos gráficos e do layout
fig = go.Figure(figprop, layout)

#Exibição da figura
fig.show(renderer = 'browser')