# DESENVOLVIDO POR: GUSTAVO BASÍLIO LIMA

In [ ]:
%load_ext autotime

time: 15 ms

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.graph_objs as go
import plotly.offline as py
import pymysql
from sqlalchemy import create_engine
from numpy import linalg as LA
from datetime import datetime
from scipy.spatial import distance
from plotly.subplots import make_subplots

time: 2.98 s

In [ ]:
#Fazendo a conexão com a databse no servidor
conexao = pymysql.connect( host     = 'host',
                           user     = 'user',
                           passwd   = 'password',
                           database = 'database')


#Fazendo a leitura do arquivo sql através do pandas
inmet_pond  = pd.read_sql_query('SELECT * FROM medias_ponderadas_interpoladas', conexao)

#Transformando em dataframe
inmet_pond  = pd.DataFrame(inmet_pond)

conexao.close()

#Eliminando a coluna index
inmet_pond = inmet_pond.drop('index', axis = 1)
inmet_pond = inmet_pond.drop('data', axis = 1)

time: 9.05 s

In [ ]:
inmet_pond

,rad_glo,precip_tot,pres_atm_niv_est,pres_atm_max_hr_ant,pres_atm_min_hr_ant,temp_bulbo_seco,temp_p_orv,temp_max_hr_ant,temp_min_hr_ant,temp_p_orv_max_hr_ant,temp_p_orv_min_hr_ant,umi_rel_max_hr_ant,umi_rel_min_hr_ant,umi_rel,dir_vent,raj_max_vent,vel_vent,geracao_st,irradiacao,geracao_ct
0,NaN,0.0,985.100000,985.100000,984.600000,25.000000,16.200000,26.600000,25.000000,17.300000,16.200000,59.000000,56.000000,58.000000,124.000000,11.600000,6.800000,NaN,NaN,NaN
1,NaN,0.0,985.400000,985.400000,985.000000,24.600000,15.500000,25.000000,24.600000,16.200000,15.500000,59.000000,57.000000,57.000000,124.000000,10.900000,6.500000,NaN,NaN,NaN
2,NaN,0.0,985.600000,985.700000,985.400000,24.300000,14.700000,24.600000,24.300000,15.500000,14.700000,57.000000,55.000000,55.000000,110.000000,10.400000,6.200000,NaN,NaN,NaN
3,NaN,0.0,985.600000,985.800000,985.600000,23.600000,15.200000,24.400000,23.500000,15.300000,14.600000,60.000000,55.000000,59.000000,116.000000,11.800000,5.100000,NaN,NaN,NaN
4,NaN,0.0,985.400000,985.700000,985.300000,22.900000,15.300000,23.600000,22.900000,15.400000,15.200000,63.000000,59.000000,63.000000,130.000000,7.800000,2.700000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114235,1533.570196,0.0,985.697184,985.797184,985.639840,30.843360,14.187424,31.458048,30.171328,14.858752,13.701408,38.860160,35.573440,36.146879,186.783670,8.843360,3.242656,10.84,0.425992,16.26
114236,800.952275,0.0,985.897184,985.897184,985.697184,30.300704,14.772032,31.000704,30.229376,14.944064,13.944064,39.000000,35.573440,39.000000,187.496950,7.871328,3.258752,5.66,0.222487,11.32
114237,101.179211,0.0,986.425856,986.425856,985.897184,28.470624,15.086720,30.300704,28.327968,15.186720,14.700704,44.433599,39.000000,44.433599,178.937589,6.673440,1.799296,0.72,0.028105,2.88
114238,NaN,0.0,987.083200,987.083200,986.425856,26.002112,15.542656,28.470624,25.887424,15.943360,14.872032,53.853121,44.146879,52.992961,198.909433,4.474144,0.713280,NaN,NaN,NaN
114239,NaN,0.0,987.769216,987.769216,987.083200,25.758752,16.228672,26.644064,25.687424,16.228672,15.242656,55.566401,50.853121,55.566401,197.482872,3.975551,1.069920,NaN,NaN,NaN

time: 140 ms

In [ ]:
def media_historica_horaria(h):
    
    '''
    Essa função é feita para gerar uma média histórica horária, selecionanado a marcação da hora desejada
    e reunindo essa hora para todos os dias, com o comando reset_index ao invés de pegar do dataframe anterior,
    cria um novo, em seguida é feito a média de todas as horas, com esse comando nos é retornado um dataframe
    na forma de coluna, sendo assim o comando transpose se faz necessário para o dataframe ficar no formato
    de linha.
    '''
    
    hora = pd.DataFrame(inmet_pond[h : : 24].reset_index(drop = True).mean(axis = 0)).transpose()
    
    return hora

time: 0 ns

In [ ]:
#Criação de um dataframe vazio
media_historica = pd.DataFrame()

#Loop for para calcular as 24 médias e fazer a junção em um único dataframe
for i in range(0, 24, 1):
    media_historica = media_historica.append(media_historica_horaria(i)).reset_index(drop = True)
    
media_historica

,rad_glo,precip_tot,pres_atm_niv_est,pres_atm_max_hr_ant,pres_atm_min_hr_ant,temp_bulbo_seco,temp_p_orv,temp_max_hr_ant,temp_min_hr_ant,temp_p_orv_max_hr_ant,temp_p_orv_min_hr_ant,umi_rel_max_hr_ant,umi_rel_min_hr_ant,umi_rel,dir_vent,raj_max_vent,vel_vent,geracao_st,irradiacao,geracao_ct
0,NaN,0.187521,984.568259,984.589479,983.830098,26.362678,17.673016,27.256484,25.799784,18.245895,16.862001,65.262127,57.271424,62.042221,134.973675,5.799646,2.552384,NaN,NaN,NaN
1,NaN,0.223489,985.067139,985.109283,984.539460,26.067754,17.916234,26.924780,25.524946,18.406702,17.184463,66.472021,58.898387,63.483226,124.196036,6.374510,2.753583,NaN,NaN,NaN
2,NaN,0.228830,985.183625,985.315550,984.964837,25.563666,18.127335,26.393943,25.250850,18.496040,17.557339,67.528586,61.498511,65.656593,118.534159,6.436569,2.676720,NaN,NaN,NaN
3,NaN,0.205813,984.964245,985.262026,984.902147,24.969432,18.265344,25.761715,24.767160,18.571047,17.840170,69.445503,64.323125,68.121585,118.037019,6.013326,2.399042,NaN,NaN,NaN
4,NaN,0.233009,984.611570,984.998857,984.571984,24.369750,18.334537,25.121953,24.205084,18.614615,17.994853,71.678859,67.019794,70.604564,120.921492,5.433054,2.130134,NaN,NaN,NaN
5,NaN,0.175758,984.351121,984.647419,984.288856,23.845950,18.347608,24.522569,23.677774,18.621724,18.071105,73.808346,69.538525,72.719669,126.335627,4.871198,1.877288,NaN,NaN,NaN
6,NaN,0.156431,984.300394,984.447468,984.164905,23.391946,18.324074,24.012143,23.207195,18.601578,18.080187,75.599998,71.617115,74.468696,128.832984,4.417745,1.663336,NaN,NaN,NaN
7,NaN,0.121838,984.502160,984.549770,984.224301,22.971001,18.272384,23.576097,22.773460,18.561407,18.048423,77.198881,73.345081,76.039987,131.531939,4.008520,1.473855,NaN,NaN,NaN
8,NaN,0.086892,984.896780,984.916969,984.460410,22.571707,18.217087,23.168202,22.363093,18.506841,17.994557,78.699774,74.912133,77.543074,134.939647,3.639063,1.300702,NaN,NaN,NaN
9,51.741951,0.046537,985.401176,985.413063,984.858566,22.800085,18.340297,23.068356,22.125965,18.550092,17.969000,79.681948,75.587183,77.168237,137.308710,3.390152,1.250700,0.365653,0.014373,1.462614
10,530.022453,0.027858,986.024110,986.017542,985.409597,24.845820,18.438429,24.933068,22.740399,18.946844,18.006108,77.693408,68.276860,68.811819,130.520618,4.291311,1.993707,3.746114,0.147228,7.492228
11,1306.074406,0.022143,986.517590,986.547409,986.056093,26.468244,18.004478,26.646131,24.754530,18.796459,17.672626,69.431429,60.248356,61.011154,124.379991,5.837719,2.781803,9.231276,0.362798,13.846915
12,2039.203906,0.026549,986.619751,986.740753,986.445478,27.938181,17.495764,28.215011,26.283810,18.413173,17.092810,61.894762,53.484509,54.521519,122.385279,6.820686,3.103566,14.412985,0.566446,19.457530
13,2623.622914,0.013514,986.281224,986.672255,986.252593,29.337456,16.974087,29.688559,27.679681,18.000522,16.483358,55.661657,47.791389,49.050735,121.530742,7.256611,3.150271,18.543579,0.728784,21.325116
14,2989.150583,0.008711,985.572726,986.302110,985.560475,30.575498,16.414036,31.013346,28.999428,17.547566,15.860851,50.430175,43.079282,44.519493,122.162714,7.413731,3.045001,21.127083,0.830320,21.760896
15,3098.555661,0.013783,984.543408,985.579829,984.536532,31.621167,15.846486,32.116075,30.163492,17.050224,15.230725,46.110027,39.301841,40.884416,126.326057,7.398258,2.908813,21.900351,0.860710,21.900351
16,2977.941267,0.015237,983.438560,984.551467,983.432095,32.433335,15.309056,33.008788,31.130216,16.536778,14.631246,42.698736,36.359479,38.122762,128.529566,7.288084,2.777483,21.047928,0.827206,21.679366
17,2632.892868,0.027479,982.484127,983.449403,982.473495,32.912707,14.850746,33.578445,31.830672,16.062372,14.121619,40.327444,34.356612,36.420834,131.856147,7.128128,2.664351,18.609119,0.731359,21.400487
18,2087.137492,0.025298,981.902219,982.499102,981.872565,33.032728,14.591149,33.799399,32.229512,15.672766,13.796142,38.950092,33.471329,35.894667,130.990797,6.849128,2.583332,14.751766,0.579760,19.914884
19,1372.423990,0.046956,981.776992,981.984025,981.662779,32.641017,14.656040,33.599611,32.206159,15.502587,13.752736,39.123826,33.807173,37.100834,131.084774,6.484399,2.470413,9.700220,0.381229,14.550330
20,598.772253,0.074246,982.030195,982.069968,981.718410,31.377051,15.454588,32.882878,31.278840,16.021454,14.071928,43.065510,35.828390,42.009848,130.251453,5.871869,2.174829,4.232084,0.166326,8.464169
21,62.582839,0.105662,982.495176,982.514483,982.009984,28.778919,16.547966,31.421992,28.703357,17.063233,15.066031,53.215137,41.250635,52.210498,137.833125,4.935635,1.757601,0.442311,0.017384,1.769244
22,NaN,0.118107,983.113392,983.127650,982.477731,27.330958,17.080274,28.911802,27.125702,17.599286,16.096536,59.534374,50.815066,57.835441,145.477290,4.385371,1.855234,NaN,NaN,NaN
23,NaN,0.173339,983.856704,983.872526,983.090941,26.684760,17.421836,27.699402,26.306244,17.982172,16.555983,63.107924,55.352470,60.551054,142.940163,4.952868,2.210996,NaN,NaN,NaN

time: 156 ms

In [ ]:
hora = ['21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00',
        '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
        '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
        '18:00', '19:00', '20:00']

hora = pd.DataFrame(hora)

hora

        0
0   21:00
1   22:00
2   23:00
3   00:00
4   01:00
5   02:00
6   03:00
7   04:00
8   05:00
9   06:00
10  07:00
11  08:00
12  09:00
13  10:00
14  11:00
15  12:00
16  13:00
17  14:00
18  15:00
19  16:00
20  17:00
21  18:00
22  19:00
23  20:00

time: 0 ns

In [ ]:
media_historica['hora'] = hora

media_historica

,rad_glo,precip_tot,pres_atm_niv_est,pres_atm_max_hr_ant,pres_atm_min_hr_ant,temp_bulbo_seco,temp_p_orv,temp_max_hr_ant,temp_min_hr_ant,temp_p_orv_max_hr_ant,...,umi_rel_max_hr_ant,umi_rel_min_hr_ant,umi_rel,dir_vent,raj_max_vent,vel_vent,geracao_st,irradiacao,geracao_ct,hora
0,NaN,0.187521,984.568259,984.589479,983.830098,26.362678,17.673016,27.256484,25.799784,18.245895,...,65.262127,57.271424,62.042221,134.973675,5.799646,2.552384,NaN,NaN,NaN,21:00
1,NaN,0.223489,985.067139,985.109283,984.539460,26.067754,17.916234,26.924780,25.524946,18.406702,...,66.472021,58.898387,63.483226,124.196036,6.374510,2.753583,NaN,NaN,NaN,22:00
2,NaN,0.228830,985.183625,985.315550,984.964837,25.563666,18.127335,26.393943,25.250850,18.496040,...,67.528586,61.498511,65.656593,118.534159,6.436569,2.676720,NaN,NaN,NaN,23:00
3,NaN,0.205813,984.964245,985.262026,984.902147,24.969432,18.265344,25.761715,24.767160,18.571047,...,69.445503,64.323125,68.121585,118.037019,6.013326,2.399042,NaN,NaN,NaN,00:00
4,NaN,0.233009,984.611570,984.998857,984.571984,24.369750,18.334537,25.121953,24.205084,18.614615,...,71.678859,67.019794,70.604564,120.921492,5.433054,2.130134,NaN,NaN,NaN,01:00
5,NaN,0.175758,984.351121,984.647419,984.288856,23.845950,18.347608,24.522569,23.677774,18.621724,...,73.808346,69.538525,72.719669,126.335627,4.871198,1.877288,NaN,NaN,NaN,02:00
6,NaN,0.156431,984.300394,984.447468,984.164905,23.391946,18.324074,24.012143,23.207195,18.601578,...,75.599998,71.617115,74.468696,128.832984,4.417745,1.663336,NaN,NaN,NaN,03:00
7,NaN,0.121838,984.502160,984.549770,984.224301,22.971001,18.272384,23.576097,22.773460,18.561407,...,77.198881,73.345081,76.039987,131.531939,4.008520,1.473855,NaN,NaN,NaN,04:00
8,NaN,0.086892,984.896780,984.916969,984.460410,22.571707,18.217087,23.168202,22.363093,18.506841,...,78.699774,74.912133,77.543074,134.939647,3.639063,1.300702,NaN,NaN,NaN,05:00
9,51.741951,0.046537,985.401176,985.413063,984.858566,22.800085,18.340297,23.068356,22.125965,18.550092,...,79.681948,75.587183,77.168237,137.308710,3.390152,1.250700,0.365653,0.014373,1.462614,06:00
10,530.022453,0.027858,986.024110,986.017542,985.409597,24.845820,18.438429,24.933068,22.740399,18.946844,...,77.693408,68.276860,68.811819,130.520618,4.291311,1.993707,3.746114,0.147228,7.492228,07:00
11,1306.074406,0.022143,986.517590,986.547409,986.056093,26.468244,18.004478,26.646131,24.754530,18.796459,...,69.431429,60.248356,61.011154,124.379991,5.837719,2.781803,9.231276,0.362798,13.846915,08:00
12,2039.203906,0.026549,986.619751,986.740753,986.445478,27.938181,17.495764,28.215011,26.283810,18.413173,...,61.894762,53.484509,54.521519,122.385279,6.820686,3.103566,14.412985,0.566446,19.457530,09:00
13,2623.622914,0.013514,986.281224,986.672255,986.252593,29.337456,16.974087,29.688559,27.679681,18.000522,...,55.661657,47.791389,49.050735,121.530742,7.256611,3.150271,18.543579,0.728784,21.325116,10:00
14,2989.150583,0.008711,985.572726,986.302110,985.560475,30.575498,16.414036,31.013346,28.999428,17.547566,...,50.430175,43.079282,44.519493,122.162714,7.413731,3.045001,21.127083,0.830320,21.760896,11:00
15,3098.555661,0.013783,984.543408,985.579829,984.536532,31.621167,15.846486,32.116075,30.163492,17.050224,...,46.110027,39.301841,40.884416,126.326057,7.398258,2.908813,21.900351,0.860710,21.900351,12:00
16,2977.941267,0.015237,983.438560,984.551467,983.432095,32.433335,15.309056,33.008788,31.130216,16.536778,...,42.698736,36.359479,38.122762,128.529566,7.288084,2.777483,21.047928,0.827206,21.679366,13:00
17,2632.892868,0.027479,982.484127,983.449403,982.473495,32.912707,14.850746,33.578445,31.830672,16.062372,...,40.327444,34.356612,36.420834,131.856147,7.128128,2.664351,18.609119,0.731359,21.400487,14:00
18,2087.137492,0.025298,981.902219,982.499102,981.872565,33.032728,14.591149,33.799399,32.229512,15.672766,...,38.950092,33.471329,35.894667,130.990797,6.849128,2.583332,14.751766,0.579760,19.914884,15:00
19,1372.423990,0.046956,981.776992,981.984025,981.662779,32.641017,14.656040,33.599611,32.206159,15.502587,...,39.123826,33.807173,37.100834,131.084774,6.484399,2.470413,9.700220,0.381229,14.550330,16:00
20,598.772253,0.074246,982.030195,982.069968,981.718410,31.377051,15.454588,32.882878,31.278840,16.021454,...,43.065510,35.828390,42.009848,130.251453,5.871869,2.174829,4.232084,0.166326,8.464169,17:00
21,62.582839,0.105662,982.495176,982.514483,982.009984,28.778919,16.547966,31.421992,28.703357,17.063233,...,53.215137,41.250635,52.210498,137.833125,4.935635,1.757601,0.442311,0.017384,1.769244,18:00
22,NaN,0.118107,983.113392,983.127650,982.477731,27.330958,17.080274,28.911802,27.125702,17.599286,...,59.534374,50.815066,57.835441,145.477290,4.385371,1.855234,NaN,NaN,NaN,19:00
23,NaN,0.173339,983.856704,983.872526,983.090941,26.684760,17.421836,27.699402,26.306244,17.982172,...,63.107924,55.352470,60.551054,142.940163,4.952868,2.210996,NaN,NaN,NaN,20:00

time: 78 ms

In [ ]:
#Realocando a coluna data para que seja a primeira coluna após a coluna index
cols = media_historica.columns.tolist()

cols = cols[-1:] + cols[:-1]

media_historica = media_historica[cols]

media_historica

,hora,rad_glo,precip_tot,pres_atm_niv_est,pres_atm_max_hr_ant,pres_atm_min_hr_ant,temp_bulbo_seco,temp_p_orv,temp_max_hr_ant,temp_min_hr_ant,...,temp_p_orv_min_hr_ant,umi_rel_max_hr_ant,umi_rel_min_hr_ant,umi_rel,dir_vent,raj_max_vent,vel_vent,geracao_st,irradiacao,geracao_ct
0,21:00,NaN,0.187521,984.568259,984.589479,983.830098,26.362678,17.673016,27.256484,25.799784,...,16.862001,65.262127,57.271424,62.042221,134.973675,5.799646,2.552384,NaN,NaN,NaN
1,22:00,NaN,0.223489,985.067139,985.109283,984.539460,26.067754,17.916234,26.924780,25.524946,...,17.184463,66.472021,58.898387,63.483226,124.196036,6.374510,2.753583,NaN,NaN,NaN
2,23:00,NaN,0.228830,985.183625,985.315550,984.964837,25.563666,18.127335,26.393943,25.250850,...,17.557339,67.528586,61.498511,65.656593,118.534159,6.436569,2.676720,NaN,NaN,NaN
3,00:00,NaN,0.205813,984.964245,985.262026,984.902147,24.969432,18.265344,25.761715,24.767160,...,17.840170,69.445503,64.323125,68.121585,118.037019,6.013326,2.399042,NaN,NaN,NaN
4,01:00,NaN,0.233009,984.611570,984.998857,984.571984,24.369750,18.334537,25.121953,24.205084,...,17.994853,71.678859,67.019794,70.604564,120.921492,5.433054,2.130134,NaN,NaN,NaN
5,02:00,NaN,0.175758,984.351121,984.647419,984.288856,23.845950,18.347608,24.522569,23.677774,...,18.071105,73.808346,69.538525,72.719669,126.335627,4.871198,1.877288,NaN,NaN,NaN
6,03:00,NaN,0.156431,984.300394,984.447468,984.164905,23.391946,18.324074,24.012143,23.207195,...,18.080187,75.599998,71.617115,74.468696,128.832984,4.417745,1.663336,NaN,NaN,NaN
7,04:00,NaN,0.121838,984.502160,984.549770,984.224301,22.971001,18.272384,23.576097,22.773460,...,18.048423,77.198881,73.345081,76.039987,131.531939,4.008520,1.473855,NaN,NaN,NaN
8,05:00,NaN,0.086892,984.896780,984.916969,984.460410,22.571707,18.217087,23.168202,22.363093,...,17.994557,78.699774,74.912133,77.543074,134.939647,3.639063,1.300702,NaN,NaN,NaN
9,06:00,51.741951,0.046537,985.401176,985.413063,984.858566,22.800085,18.340297,23.068356,22.125965,...,17.969000,79.681948,75.587183,77.168237,137.308710,3.390152,1.250700,0.365653,0.014373,1.462614
10,07:00,530.022453,0.027858,986.024110,986.017542,985.409597,24.845820,18.438429,24.933068,22.740399,...,18.006108,77.693408,68.276860,68.811819,130.520618,4.291311,1.993707,3.746114,0.147228,7.492228
11,08:00,1306.074406,0.022143,986.517590,986.547409,986.056093,26.468244,18.004478,26.646131,24.754530,...,17.672626,69.431429,60.248356,61.011154,124.379991,5.837719,2.781803,9.231276,0.362798,13.846915
12,09:00,2039.203906,0.026549,986.619751,986.740753,986.445478,27.938181,17.495764,28.215011,26.283810,...,17.092810,61.894762,53.484509,54.521519,122.385279,6.820686,3.103566,14.412985,0.566446,19.457530
13,10:00,2623.622914,0.013514,986.281224,986.672255,986.252593,29.337456,16.974087,29.688559,27.679681,...,16.483358,55.661657,47.791389,49.050735,121.530742,7.256611,3.150271,18.543579,0.728784,21.325116
14,11:00,2989.150583,0.008711,985.572726,986.302110,985.560475,30.575498,16.414036,31.013346,28.999428,...,15.860851,50.430175,43.079282,44.519493,122.162714,7.413731,3.045001,21.127083,0.830320,21.760896
15,12:00,3098.555661,0.013783,984.543408,985.579829,984.536532,31.621167,15.846486,32.116075,30.163492,...,15.230725,46.110027,39.301841,40.884416,126.326057,7.398258,2.908813,21.900351,0.860710,21.900351
16,13:00,2977.941267,0.015237,983.438560,984.551467,983.432095,32.433335,15.309056,33.008788,31.130216,...,14.631246,42.698736,36.359479,38.122762,128.529566,7.288084,2.777483,21.047928,0.827206,21.679366
17,14:00,2632.892868,0.027479,982.484127,983.449403,982.473495,32.912707,14.850746,33.578445,31.830672,...,14.121619,40.327444,34.356612,36.420834,131.856147,7.128128,2.664351,18.609119,0.731359,21.400487
18,15:00,2087.137492,0.025298,981.902219,982.499102,981.872565,33.032728,14.591149,33.799399,32.229512,...,13.796142,38.950092,33.471329,35.894667,130.990797,6.849128,2.583332,14.751766,0.579760,19.914884
19,16:00,1372.423990,0.046956,981.776992,981.984025,981.662779,32.641017,14.656040,33.599611,32.206159,...,13.752736,39.123826,33.807173,37.100834,131.084774,6.484399,2.470413,9.700220,0.381229,14.550330
20,17:00,598.772253,0.074246,982.030195,982.069968,981.718410,31.377051,15.454588,32.882878,31.278840,...,14.071928,43.065510,35.828390,42.009848,130.251453,5.871869,2.174829,4.232084,0.166326,8.464169
21,18:00,62.582839,0.105662,982.495176,982.514483,982.009984,28.778919,16.547966,31.421992,28.703357,...,15.066031,53.215137,41.250635,52.210498,137.833125,4.935635,1.757601,0.442311,0.017384,1.769244
22,19:00,NaN,0.118107,983.113392,983.127650,982.477731,27.330958,17.080274,28.911802,27.125702,...,16.096536,59.534374,50.815066,57.835441,145.477290,4.385371,1.855234,NaN,NaN,NaN
23,20:00,NaN,0.173339,983.856704,983.872526,983.090941,26.684760,17.421836,27.699402,26.306244,...,16.555983,63.107924,55.352470,60.551054,142.940163,4.952868,2.210996,NaN,NaN,NaN

time: 63 ms

In [ ]:
#Criando a conexão com o servidor (no caso, local).
conexao = pymysql.connect( host   = 'host',
                           user   = 'user',
                           passwd = 'password')

#Interador que permite navegar e modificar registros através dos databases.
cursor = conexao.cursor()

#Criação de uma database
cursor.execute( 'CREATE DATABASE IF NOT EXISTS dataset_unico' )

1

time: 125 ms

In [ ]:
#Criação de uma tabela na database a partir de um arquivo pandas (DataFrame)

#Estabelecendo a conexão com o servidor e com a database nele inserido 
conexao = pymysql.connect( host     = 'host',
                           user     = 'user',
                           passwd   = 'password',
                           database = 'database')

#Função 'create_engine' inicializa a conxexão com a database
engine = create_engine('mysql+pymysql://user:password@host:port/database')

#Exportação dos DataFrames para SQL
media_historica.to_sql('media_historica', engine,  if_exists = 'replace', index = True)

time: 1.3 s